<%- include('./includes/header.ejs') %>
<!-- Dashboard Container -->
<div class="dashboard-container">
    <%- include('./includes/side-bar.ejs') %>
    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3><% if (editing) { %>Edit
                    Course<% } else { %>Post a Course<% } %></h3>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li><% if (editing) { %>Edit
                            Course<% } else { %>Add a Course<% } %></li>
                    </ul>
                </nav>
            </div>

            <!-- Row -->
            <div class="row">

                <!-- Dashboard Box -->
                <div class="col-xl-12">
                    <div class="dashboard-box margin-top-0">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-line-awesome-folder-open-o"></i> Course Submission Form</h3>
                        </div>
                        <%- include ("./partials/messages") %>
                        <form action="/<% if (editing) { %>post-edit-course<% } else { %>post-add-course<% } %>"
                            method="POST">
                            <div class="content with-padding padding-bottom-10">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Course Name</h5>
                                            <input type="courseName" class="with-border" name="courseName"
                                                id="courseName"
                                                value="<% if (editing) { %><%= course.courseName %><% } %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% if (editing) { %>
                            <input type="hidden" value="<%= course._id %>" name="courseId">
                            <% } %>
                            <div class="col-xl-12">
                                <button type="submit" class="button ripple-effect big margin-top-30"><i
                                        class="<% if (editing) { %>icon-feather-edit<% } else { %>icon-feather-plus<% } %>"></i><% if (editing) { %>
                                    Update
                                    Course<% } else { %>Add Course<% } %>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <!-- Row / End -->
            <%- include('./includes/footer.ejs') %>