<%- include('./includes/header.ejs') %>
<!-- Dashboard Container -->
<div class="dashboard-container">
    <%- include('./includes/side-bar.ejs') %>
    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Manage Courses</h3>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li>Manage Courses</li>
                    </ul>
                </nav>
            </div>

            <!-- Row -->
            <div class="row">

                <!-- Dashboard Box -->
                <div class="col-xl-12">
                    <div class="dashboard-box margin-top-0">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-line-awesome-folder-open-o"></i> <%= coursesLength %>
                                Courses
                            </h3>
                        </div>

                        <div class="container-fluid">
                            <main>
                                <div><%- include ("./partials/messages") %></div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Course Name</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (courses.length > 0) { %>
                                        <% for (let course of courses) { %>
                                        <tr>
                                            <td><%= course.courseName %></td>
                                            <!-- <td><a href="/ebook/<%= course._id %>">View Course</a></td> -->
                                            <td>

                                                <button class="btn btn-info">
                                                    <a href="/get-edit-course/<%= course._id %>?edit=true"> Update</a>
                                                </button>

                                            </td>
                                            <td>

                                                <form action="/delete-course/<%= course._id %>?_method=DELETE"
                                                    method="post">
                                                    <button type="submit" class="btn btn-danger">
                                                        Delete
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% } %>
                                        <% } else { %>
                                        <h1>No Courses Found!</h1>
                                        <% } %>
                                    </tbody>

                                </table>
                            </main>

                        </div>
                    </div>
                </div>

            </div>
            <!-- Row / End -->

            <%- include('./includes/footer.ejs') %>